on:
  push:
    branches:
      - main

jobs:
  build_css:
    runs-on: ubuntu-latest
    env:
      environment: cdn-dev
      source: .
      destination: assets/logos/
    steps:
      - name: Checkout source Git branch
        uses: actions/checkout@v2

      - name: Upload to ${{ env.environment }}
        if: success()
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-1'
        run:
          aws s3 sync --no-progress ${{ env.source }} s3://${{ env.environment }}.w3.org/${{ env.destination }}

      - name: Purge cache for ${{ env.environment }}
        uses: nathanvaughn/actions-cloudflare-purge@master
        if: success()
        with:
          cf_zone: ${{ secrets.CLOUDFLARE_ZONE }}
          cf_auth: ${{ secrets.CLOUDFLARE_CACHEPURGE_TOKEN }}
          prefixes: ${{ env.environment }}.w3.org/${{ env.destination }}
